:root {
  --base-clr: 	#f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 5rem 0;
  background-color: var(--base-clr);
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border-radius: .5rem;
  background-color: pink;
}

.card {
  padding: 3rem 3rem 3.5rem 3rem;
  color: var(--base-clr);
  max-width: 375px;
}

.card--title {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.card--description {
  line-height: 1.75rem;
  padding-bottom: 1.25rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.card--link {
  text-decoration: none;
  padding: .9rem 2rem;
  background-color: var(--base-clr);
  border-radius: 2rem;
  margin-bottom: 5rem;
  border: 2px solid rgba(0, 0, 0, 0);
}

.card--link:active,
.card--link:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--base-clr);
  color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}

@media (min-width: 1000px) {

  body {
    margin: 0;
    height: 100vh;
  }

  .container {
    flex-direction: row;
  }

  .card {
    max-width: 350px;
  }

  .card--description {
    padding-bottom: 5rem;
  }
}
